article {
  border: 1px solid black; /* box the entire article with a black line */
  width: 800px; /* width of article is 800 px */
  /*
    The following 3 lines defines the shadows
    http://www.w3.org/TR/css3-background/#the-box-shadow
  */
  -webkit-box-shadow: 10px 10px 25px gray;
  -moz-box-shadow: 10px 10px 25px gray;
  box-shadow: 10px 10px 25px gray;
}
 
/* Caption */
h1 {
  font-size: 24px;
}
 
/* Make the "important" senction bold */
.important {
  font-weight: bold;
  color: red;
}