article {
  border: 1px solid black;/* 要素全体を1pxの線で囲む */
  width: 800px;/* 横幅は800px固定 */
  /* 
    以下3行は影の表現 
    http://www.htmq.com/css3/box-shadow.shtml
  */
  -webkit-box-shadow: 10px 10px 25px gray;
  -moz-box-shadow: 10px 10px 25px gray;
  box-shadow: 10px 10px 25px gray;
}

/* 見出し */
h1 {
  font-size: 24px;
}

/* 重要な部分を強調 */
.important {
  font-weight: bold;
  color: red;
}
